[submodule "depends/libsnark"]
	path = depends/libsnark
	url = https://github.com/mtbadakhshan/libsnark.git
	
[submodule "depends/libiop"]
	path = depends/libiop
	url = https://github.com/mtbadakhshan/polaris-libiop.git
[submodule "depends/benchmark"]
	path = depends/benchmark
	url = https://github.com/google/benchmark.git
